@tailwind base;
@tailwind components;
@tailwind utilities;

/* active nagation bar*/
.active {
  @apply text-purple-700
}

.active svg {
  @apply text-purple-700
}

/* barre de scroll */
::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-black;
  border-radius: 5px;
}

/* image card */
.card-sh {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  height: 220px;
}

/* background */
html{
  background-color: #F8EEFD;
}

/* collapse transition  */Message ChatGPT…

.ReactCollapse--collapse {
  transition: height 1000ms;
}

.background-vector {
  background-image: url('/src/assets/Vector_2.jpg');
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
}

.image-size {
  width: 70%;
  height: 70%;
}


.card {
  width: 170px;  
  height: 198px; 
  padding: 16px;
  background: linear-gradient(to bottom, #a855f7, #ec4899);
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.3s ease;
}

.card:hover {
  background: #a855f7;
}

Link{
transition: transform 0.2s ease-in-out;
}



/* fonts */

@font-face{
  font-family:'Quatro-Book';
  src:url('./assets/fonts/Quatro-Book.woff2') format ('woff2');
  font-weight:normal;
  font-style:normal
}

@font-face{
  font-family:'Quatro-Medium';
  src:url('./assets/fonts/Quatro-Medium.woff2') format ('woff2');
  font-weight:normal;
  font-style:normal
}

@font-face{
  font-family:'Quatro-SemiBold';
  src:url('./assets/fonts/Quatro-SemiBold.woff2') format ('woff2');
  font-weight:normal;
  font-style:normal
}

p {
  font-family: 'Quatro', sans-serif;
}